@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Inter;
  src: url(./assets/fonts/CircularStd-Black.woff2) format(woff2);
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url(./assets/fonts/CircularStd-Bold.woff2) format(woff2);
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url(./assets/fonts/CircularStd-Book.woff2) format(woff2);
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url(./assets/fonts/CircularStd-Medium.woff2) format(woff2);
  font-weight: 700;
  font-display: swap;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
body {
  @apply bg-gradient-to-tr from-[#fdfbfb] to-[#ebedee]
}
section,
header,
footer,nav {
  overflow: hidden;
  font-family: Inter;
}


::placeholder {
  @apply text-sm; /* Example: small font size */
}
a {
  text-decoration: none;
}
.home {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}
.home::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* Ensure it covers the entire banner */
  background-image: url("./assets/images/header_img.png"); /* Corrected the path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}


